@font-face {
    font-family: "OpenSansRegular";
    src: url("/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBold";
    src: url("/fonts/GothamProBold/GothamProBold.eot");
    src: url("/fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("/fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("/fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "OpenSansRegular", sans-serif;
  color: #000000;
  background-color: #ffffff;
}
@media only screen and (min-width: 1048px) {
  body {
    /* hide horizontal scroll bar in IE */
    overflow-x: hidden;
  }
}

a {
  color: #000000;
  text-decoration: none;
}
.clear{
    clear: both;
}
.logo{
    position: fixed;
    top: 0.6em;
    left: 44%;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
  position: relative;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  /*z-index: 1;*/
}
.cd-header h1 {
  width: 90%;
  color: #f2e6cd;
  text-align: center;
  font-size: 2.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-fixed-background {
    clear: both;
}
@media only screen and (min-width: 768px) {
  .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300;
  }
}

.cd-fixed-background {
  position: relative;
  padding: 3em 5% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cd-fixed-background h2, .cd-fixed-background p {
  color: #f2e6cd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-fixed-background h2 {
  font-size: 2.4rem;
  margin-bottom: 1em;
}
.cd-fixed-background p {
  line-height: 1.6;
  /*font-family: "Merriweather", serif;*/
}
.cd-fixed-background .light-background h2, .cd-fixed-background .light-background p {
  color: #0f594d;
}
.cd-fixed-background .cd-content:after {
  /* phone image on small devices */
  content: '';
  display: block;
  width: 100%;
  padding: 60% 0;
  margin: 2em auto 0;
}
.cd-fixed-background.img-1 {
  background-color: #ffffff;
}
.cd-fixed-background.img-1 .cd-content:after {
  /*background: url("/images/img-mobile-1.jpg") no-repeat;*/
  background-size: 100% auto;
}
.cd-fixed-background.img-2 {
  background-color: #ffffff;
}
.cd-fixed-background.img-2 .cd-content:after {
  /*background: url("/images/img-mobile-2.jpg") no-repeat;*/
  background-size: 100% auto;
}
.cd-fixed-background.img-22 {
    background-color: #ffffff;
}
.cd-fixed-background.img-22 .cd-content:after {
    /*background: url("/images/img-mobile-3.jpg") no-repeat;*/
    background-size: 100% auto;
}

.cd-fixed-background.img-33 {
    background-color: #292929;
}
.cd-fixed-background.img-33 .cd-content:after {
    /*background: url("/images/img-mobile-3.jpg") no-repeat;*/
    background-size: 100% auto;
}

.cd-fixed-background.img-3 {
  background-color: #0f594d;
}
.cd-fixed-background.img-3 .cd-content:after {
  background: url("/images/img-mobile-3.jpg") no-repeat;
  background-size: 100% auto;
}
.cd-fixed-background.img-4 {
  background-color: #db9537;
}
.cd-fixed-background.img-4 .cd-content:after {
  background: url("/images/img-mobile-4.jpg") no-repeat;
  background-size: 100% auto;
}
@media only screen and (min-width: 768px) {
  .cd-fixed-background {
    height: 100%;
    padding: 0;
  }
  .cd-fixed-background h2 {
    font-size: 3.6rem;
    font-weight: 300;
  }
  .cd-fixed-background p {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .cd-fixed-background .cd-content {
      position: relative;
      top: 5%;
      margin: 0 auto;
    width: 43%;
    /*-webkit-transform: translateY(-50%);*/
    /*-moz-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
  }
  .cd-fixed-background .cd-content:after {
    display: none !important;
  }
    .cd-fixed-background.img-0 {
        background-image: url("/images/sunset_kremlin.jpg");

    }
  .cd-fixed-background.img-1 {
    background: #ffffff;
  }
  .cd-fixed-background.img-2 {
      background-image: url("/images/img11.jpg");
      /*background-position: 0 -23em;*/
  }
    .cd-fixed-background.img-22
    {
        background-image: url("/images/img05.png");
        background-position: 30em 10em;
        background-size: auto auto;
    }
    .cd-fixed-background.img-33
    {
        background-image: url("/images/img051.png");
        background-position: 30em 10em;
        background-size: auto auto;
    }

    .cd-fixed-background.img-22{
        background-attachment: fixed;
    }
    /*.cd-fixed-background.img-22.is-visible{*/
        /*background-attachment: fixed;*/
    /*}*/
  .cd-fixed-background.img-3 {
    background: #ffffff;
  }
  .cd-fixed-background.img-4 {
      background-image: url("/images/img11.jpg");
  }
  .cd-fixed-background.img-6 {
      background-image: url("/images/footer.jpg");
  }

}
@media only screen and (min-width: 1048px) {
  .cd-fixed-background {
    background-attachment: fixed;
  }
  .cd-fixed-background .cd-content {
    /*width: 40%;*/
    /*left: 10%;*/
  }
}

.cd-vertical-nav {
  position: fixed;
  z-index: 2;
  right: 1%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(/images/cd-icon-arrow.svg) no-repeat center center;
  -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0.2s 0s;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1200px) {
  .cd-vertical-nav {
    display: block;
  }
}

.no-js .cd-vertical-nav {
  /*display: none;*/
}

.cd-vertical-nav .cd-section{
    background: rgba(163, 163, 163, 0.3) none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    margin-bottom: 10px;
    width: 16px;
}
.cd-vertical-nav .cd-section:hover,
.cd-vertical-nav .cd-section:active,
.cd-vertical-nav .cd-section.active
{
    background: #fb5c3d;

}
#nav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}
.top-menu{}
.top-menu li{
    float: left;
    padding: 20px 10px;
}
.top-menu li:first-child{
    padding-left: 20px;
}
.top-menu li a{
    font-size: 1em;
}
.enter{
    display: none;
    float: right;
    padding: 1em;
}
.enter a{
    display: inline-block;
    background: rgba(163,163,163,0.3);
    padding: 0.5em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1em;
}
.enter a:hover {
    background: #fb5c3d;
}

.c1-logo{
    text-align: center;
}
.c1-text, .c2-6, .c3-3, .c22-3, .c7-2 {
    padding: 1.3em 0;
    color: #ffffff;
    font-size: 1.7em;
    line-height: 1.1em;
}
.c1-but{
    width: 29em;
    margin: 0 auto;
}
.c1-but .app-store{
    float: left;
    cursor: pointer;
}
.c1-but .find-employer{
    float: left;
    padding: 14px 12px;
    border: 1px solid #fc921f;
    margin: 0 7px;
    color: #ffffff;
    font-size: 1.3em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #fc921f;
}
.c1-but .find-employer:hover{
    background: #fb5c3f;
    border: 1px solid #fb5c3f;
}
.c2-10.c6-1, .c2-10.c6-2{
    margin: 0 auto;
    width: 51em;
}
.c2-10{
    width: 62em;
    margin: 0 auto;
}
.c2-ul{ }
.c2-ul li{
    float: left;
    margin: 1em 1.3em 1.5em;
    /*border: 1px solid #858585;*/
    /*width: 170px;*/
    /*height: 170px;*/
    color: #858585;
    display: block;
}
.c2-ul li img{
    width: 10em;
}
.c2-ul.sn li .datetime img{
    width: auto;
}
.c2-ul.c2-ul-1 li{
    border: none;
    margin-top: 0;
    display: inline-block;
    width: 10em;
    line-height: 1.3em;
}


.jcarousel-arrow{
    height: 120px;
    width: 20px;
    position: absolute;
    left: auto;
    right: auto;
    top: 30px;
    cursor: pointer;
}
.jcarousel-arrow.jcarousel-prev{
    padding-top: 40px;
    left: 5px;
}
.jcarousel-arrow.jcarousel-next{
    padding-top: 40px;
    right: 0;
}
.jcarousel {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 80%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    height: 500px;
    width: 930px;
}


.cd-content{
    text-align: center;
}
.c2-1{
    color: #d4d4d4;
    font-size: 1.5em;
    padding: 0.7em 0;
}
.c2-2, .c2-7, .c3-1, .c22-1, .c4-1, .c7-1 {
    color: #000000;
    font-size: 1.8em;
    padding-bottom: 7px;
    clear: both;
}
.c2-3, .c3-2, .c22-2, .c5-2 {
    width: 10em;
    /*height: 2px;*/
    background: #fc921f;
    margin: 0 auto;
    border: 2px solid #fc921f;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.c5-1, .c7-1 {
    color: #ffffff;
}
.c2-4{
    /*height: 300px;*/
}
.c2-6{
    color: #858585;
    width: 89%;
    margin: 0 auto;
    padding: 0.7em 0 3.5em 0;
}

.cd-fixed-background.img-1 .cd-content{
    width: 62%;
    top: 10%;
}
.c2-9{
    padding: 1em 0 1.2em 0;

}
.c2-9 ul{
    margin: 0 auto;
    width: 15em;
    margin-top: 1em;
}
.c2-9 ul li{
    float: left;
    padding: 0.5em;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 1em;
    color: #a3a3a3;
}
.c2-9 ul li:hover{
    color: rgba(163,163,163,0.7);

}

.c2-9 ul li.active{
    border: 1px solid #fb5c3d;
    padding: 0.45em 0.45em;
    color: #000000;
}


.cd-fixed-background.img-2 .cd-content{
    /*padding-top: 10%;*/
    /*top: 0;*/
    /*width: 50%;*/
}
.c3-1{
    color: #ffffff;
}
.c3-3{
    padding: 1em 0 3em 0;
}
.c22-1{
    color: #000000;
}
.c22-1-1{
    color: #ffffff;
}
.c22-2{
    background: #fc921f;
    margin: 0;
    width: 32%;
}
.c22-3{
    color: #858585;
}
.c3-4{
    margin: auto;
    width: 28em;
    clear: both;
}
.c3-4 *{
    float: left;
}

input {
    background: #ffffff;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 1em;
    margin: 0;
    font-size: 0.8em;
    height: 3em;
    text-align: center;
}
.c5-4 input{
    font-size: 1.7em;
    padding: 8px 18px;
    width: 60%;
}
.c3-4-1{
    background: #ffffff none repeat scroll 0 0;
    cursor: pointer;
    height: 2.4em;
    padding-top: 0.7em;
}
.c3-4-1 img{
    width: 1.5em;
}
.c3-4 input:first-child {
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}
.c3-4 input:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}

.try{
    background: #fb5c3d none repeat scroll 0 0;
    color: #ffffff;
    font-size: 1.2em;
    height: 1.8em;
    line-height: 1.3em;
    padding: 0.3em;
    width: 10em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 1em;
    cursor: pointer;
    vertical-align: middle;
}
.try:hover{
    background: #fc921f;
}
.c4-2{
    padding-top: 2em;
}
.c4-3 {
    background: #fb5c3d none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1.4em;
    height: 8em;
    line-height: 1.4em;
    padding: 1.7em 1em 1em;
    position: absolute;
    right: -9%;
    top: 17%;
    width: 8em;
    -webkit-border-radius: 50%;

    /*-moz-transform: rotate(-20deg);*/
    /*-webkit-transform: rotate(-20deg);*/
    /*-o-transform: rotate(-20deg);*/
    /*-ms-transform: rotate(-20deg);*/
    /*transform: rotate(-20deg);*/
}
.c4-4 span{
    color:#E98817;
}
.c4-4 {
    padding-bottom: 1em;
    padding-top: 0.7em;
}
.c35-1{
    padding-top: 3em;
    /*height: 37.9em;*/
}
.c35-1-1{
    float: left;
    border-bottom: 2px solid #d4d4d4;
    height: 34.9em;
    width: 32em;
}
.c35-1-1 img {
    width: 30em;

}
.c35-1-2{
    float: left;
    width: 32%;
    padding-top: 7em;
}
.c35-1-3 {
    color: #858585;
    float: left;
    font-size: 1.3em;
    line-height: 1.2em;
    width: 44%;
}
.c35-1-3 .try{
    margin: 0;
    margin-top: 1em;
    font-size: 1em;
}
.c35-1-2-1{
    padding: 2em 0 0 15%;
    text-align: left;
}
.c35-1-2-1.a1{
    font-size: 1.5em;
    color: #858585;
}
.c35-1-2-1.a2 div:first-child{
    font-size: 1.1em;
}
.c35-1-2-1.a2 div:last-child{
    color: #fb5c3d;
    font-size: 1.3em;
    padding-top: 0.3em;
}

.cd-fixed-background.img-0 .cd-content{
    top: 20%;
}

.cd-fixed-background.img-22 .cd-content,
.cd-fixed-background.img-33 .cd-content
{
    top: 18em;
}
.cd-fixed-background.img-1 .cd-content
{

}
.cd-fixed-background.img-4 .cd-content
{
    top: 24%;
}

.cd-fixed-background.img-3 .cd-content,
.cd-fixed-background.img-35 .cd-content,
.cd-fixed-background.img-5 .cd-content

{
    top: 10%;
}

.cd-fixed-background.img-35 .cd-content{
    /*top: 16%;*/
    width: 55%;
}
.cd-fixed-background.img-2 .cd-content {
    top: 23%;
}

.bg0 a,
.bg1 a,
.bg4 a,
.bg6 a,
.bg9 a,
.bg11 a
{
    color: #ffffff;
}
.bg2 a,
.bg3 a,
.bg5 a,
.bg7 a,
.bg8 a,
.bg10 a
{
    color: #414141;
}

.bg0 li a:hover,
.bg1 li a:hover,
.bg4 li a:hover,
.bg6 li a:hover,
.bg9 li a:hover,
.bg11 li a:hover
{
    color: rgba(255,255,255,0.5);
}
.bg2 li a:hover,
.bg3 li a:hover,
.bg5 li a:hover,
.bg7 li a:hover,
.bg8 li a:hover,
.bg10 li a:hover
{
    color: rgba(0,0,0,0.5);
}


.bg1 li a:hover:after,
.bg2 li a:hover:after,
.bg3 li a:hover:after,
.bg4 li a:hover:after,
.bg5 li a:hover:after,
.bg6 li a:hover:after,
.bg7 li a:hover:after,
.bg8 li a:hover:after,
.bg9 li a:hover:after,
.bg10 li a:hover:after,
.bg11 li a:hover:after
{
    content: "";
    width: 62%;
    /*position: relative;*/
    /*left: 2em;*/
    /*top: 2.5em;*/
    border: 2px solid #fb5c3d;
    margin: 0 auto;
    height: auto;
    display: block;
    margin-top: 0.4em;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}


.c6-1 li {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


a.bge1 ,
a.bge4 ,
a.bge6 ,
a.bge9,
a.bge11
{
    /*background: #2d2d2d;*/
    background: rgba(163,163,163,0.3);
    color:#ffffff;
}

a.bge2 ,
a.bge3 ,
a.bge5 ,
a.bge7 ,
a.bge10,
a.bge8
{
    /*background: #fb5c3d;*/
    background: rgba(163,163,163,0.3);
    color:#414141;
}

a.bge1:hover ,
a.bge3:hover ,
a.bge5:hover ,
a.bge8:hover,
a.bge10:hover,
a.bge11:hover
{
    background: #fb5c3d;
    color:#ffffff;
}
a.bge2:hover ,
a.bge4:hover ,
a.bge6:hover ,
a.bge7:hover,
a.bge9:hover
{
    color:#ffffff;
    background: #fb5c3d;
}
.bge5 a:hover:after {
    border: none;
}
/*.enter a {*/
    /*background: rgba(163,163,163,0.3);*/
/*}*/
.c5-4.c7-3 input {
    font-size: 1em;
    height: 10%;
    padding: 12px;
    width: 47%;
}
.c5-4.c7-3 textarea{
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    font-size: 1em;
    height: 8em;
    margin: 0;
    width: 47%;
    margin-top: 1em;
    padding: 1em;
}

.cd-fixed-background.img-6 .cd-content{
    text-align: left;
    left: 58%;
    margin: 0;
    top: 19%;

}
.c7-4{
    margin: 0;
    width: 20%;
}
.c35-1-3.c7-5{
padding-top: 1em;
}
.c7-5 .try{
    margin:0;
    /*margin-top: 1em;*/

}
.c7-2{
    width: 50%;
}

.footer{
    width: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2em 0;
    text-align: center;
    border-top: 2px solid #fb5c3d ;
}
.fcont{
    width: 70%;
    margin: 0 auto;
}
.ul1{}
.ul2{}

.ul1 li, .ul2 li {
    float: left;
}

.ul1 li{
    margin-right: 1em;
    margin-bottom: 1.5em;
}
.ul1 li a{
    font-size: 0.9em;
    color: #858585;

}

.ul2 li{
    color: #858585;
    font-size: 0.8em;
    margin-right: 3em;
}
.ul2 li .z1{
    font-size: 1.5em;

}
.ul2 li:last-child{
    margin-left: 8em;
}
.ul2 li div:first-child{
    margin-bottom: 0.6em;
    text-align: left;
}


.icons {
    background: url(/images/sprites1.png) no-repeat;
    width: 42px;
    height: 42px;
    margin: 0 0 0 15px;
    display: block;
    float: left;
    cursor: pointer;
}

.Icons_Network_F{
    background-position: -49px 0;
    width: 42px;
    height: 42px;
}

.Icons_Network_vk{
    background-position: -148px 0;
    width: 42px;
    height: 42px;
}

.Icons_Network_twitter{
    background-position: -98px 0;
    width: 42px;
    height: 42px;
}

.Icons_Network_Instagram{
    background-position: 0 0;
    width: 42px;
    height: 42px;
}

.find-employer, .try{
    text-transform: uppercase;
}

ul.sn li {
    border: none;
    width: 14em;
    height: auto;
    margin: 1em 0.7em 1.5em;
}
ul.sn li .img {
    width: 14em;
    height: 14em;

}
ul.sn li .img img {
    width: 14em;
    height: 14em;

}

.textblock {
    border: 1px solid #e8e8e8;
    font-size: 0.8em;
    text-align: left;
    padding: 0.5em;
    margin-bottom: 0.6em;
}
.textblock.nob{
    border-top: none;
}
.textblock .avatar{
    float: left;

}
.textblock .avatar img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 2.2em;
}
.textblock .nickname-block{
    float: left;
    margin-left: 0.4em;
}
.textblock .nickname-block .nickname{
    color: #4F5F81;
    margin-bottom: 0.2em;
}
.textblock .nickname-block .datetime img{
    float: left;
    margin-right: 0.5em;
}
.textblock .nickname-block .datetime{
    color: #d4d4d4;
    font-size: 0.8em;
    line-height: 1.3em;
}
.textblock .hashtag {
    color: #62a1cd;
    font-size: 0.9em;
    margin: 0.4em 0;
}
.textblock .text {
    color: #a3a3a3;
    line-height: 1.2em;
}

.c35-1.eq {
    display: none;
}
.c35-1.eq.active {
    display: block;
}

.c3-ul {

}
.c3-ul li {
    float: left;
    display: block;
    width: 18em;
    height: 18em;
    border: 1px solid #d4d4d4;
    margin: 1em;
    padding: 1em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.c3-ul li:hover {
    border: 1px solid #fc921f;
}
.c2-3.xt2{
    width: 4em;
    border: 1px solid #fc921f;
    margin-top: 0.1em;
}
.p0 {
    margin: 1.4em 0;
}
.p1 {
    display: inline-block;
    vertical-align: top;
    color: #858585;
}
.p2 {
    font-weight: bold;
    font-size: 2.5em;
}
.p3 {
    display: inline-block;
    vertical-align: bottom;
    color: #858585;

}
.b1{
    color: #858585;
    margin: 0.8em 0;
}
.b1 span {
    color: #000000;
}
.c3-ul .try {
    background: none;
    color: #414141;
    border: 2px solid #fc921f ;
    text-transform: capitalize;
    line-height: 1em;
    margin-top: 1.4em;
}
.c3-ul .try:hover {
    background: #fc921f;
    color: #ffffff;
}


#blackout {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    background: rgba(0,0,0,0.6);
    display: none;
}
#popup{
    background: #FFFFFF;
    min-width: 23em;
    max-width: 40em;
    min-height: 17em;
    max-height: 25em;
    position: absolute;
    left: 50%;
    top: 150px;
    z-index: 600;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);

}
#popup .popup-content{
    overflow-y: auto;
    overflow-x: inherit;
    padding: 3em;
    text-align: center;
}
#popup-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 601;
    cursor: pointer;
}
#popup .popup-title {
    padding-bottom: 2em;
    font-size: 1.5em;
}
#popup input {
    border: 1px solid #fc921f;
    box-shadow: none;
    font-size: 1.5em;
    height: 2em;
    width: 11em;
}
#popup .try {
    width: 14em;
}