bgi_img_x1 = url('sprite/png-sprite.png')
bgi_img_x2 = url('sprite/png-sprite@2x.png')

.s-global
  background-image bgi_img_x1
  display inline-block
  background-repeat no-repeat
  +retina()
    background-image bgi_img_x2



/* i.s-global.s-1_4 */
$1_4 = 272px 0px -272px 0px 150px 150px 788px 632px 'sprite/png-sprite.png' '1-4';
.s-1_4
  background-position $1_4[2] $1_4[3]
  width $1_4[4]
  height $1_4[5]
  +retina()
    background-size $1_4[6] $1_4[7]
/* i.s-global.s-3_4 */
$3_4 = 150px 210px -150px -210px 150px 150px 788px 632px 'sprite/png-sprite.png' '3-4';
.s-3_4
  background-position $3_4[2] $3_4[3]
  width $3_4[4]
  height $3_4[5]
  +retina()
    background-size $3_4[6] $3_4[7]
/* i.s-global.s-3 */
$3 = 422px 0px -422px 0px 150px 150px 788px 632px 'sprite/png-sprite.png' '3';
.s-3
  background-position $3[2] $3[3]
  width $3[4]
  height $3[5]
  +retina()
    background-size $3[6] $3[7]
/* i.s-global.s-4_4 */
$4_4 = 0px 210px 0px -210px 150px 150px 788px 632px 'sprite/png-sprite.png' '4-4';
.s-4_4
  background-position $4_4[2] $4_4[3]
  width $4_4[4]
  height $4_4[5]
  +retina()
    background-size $4_4[6] $4_4[7]
/* i.s-global.s-arr1 */
$arr1 = 754px 104px -754px -104px 25px 12px 788px 632px 'sprite/png-sprite.png' 'arr1';
.s-arr1
  background-position $arr1[2] $arr1[3]
  width $arr1[4]
  height $arr1[5]
  +retina()
    background-size $arr1[6] $arr1[7]
/* i.s-global.s-close */
$close = 730px 104px -730px -104px 24px 24px 788px 632px 'sprite/png-sprite.png' 'close';
.s-close
  background-position $close[2] $close[3]
  width $close[4]
  height $close[5]
  +retina()
    background-size $close[6] $close[7]
/* i.s-global.s-cup */
$cup = 730px 384px -730px -384px 32px 32px 788px 632px 'sprite/png-sprite.png' 'cup';
.s-cup
  background-position $cup[2] $cup[3]
  width $cup[4]
  height $cup[5]
  +retina()
    background-size $cup[6] $cup[7]
/* i.s-global.s-driver */
$driver = 730px 512px -730px -512px 32px 32px 788px 632px 'sprite/png-sprite.png' 'driver';
.s-driver
  background-position $driver[2] $driver[3]
  width $driver[4]
  height $driver[5]
  +retina()
    background-size $driver[6] $driver[7]
/* i.s-global.s-fast */
$fast = 730px 416px -730px -416px 32px 32px 788px 632px 'sprite/png-sprite.png' 'fast';
.s-fast
  background-position $fast[2] $fast[3]
  width $fast[4]
  height $fast[5]
  +retina()
    background-size $fast[6] $fast[7]
/* i.s-global.s-fb */
$fb = 572px 340px -572px -340px 64px 64px 788px 632px 'sprite/png-sprite.png' 'fb';
.s-fb
  background-position $fb[2] $fb[3]
  width $fb[4]
  height $fb[5]
  +retina()
    background-size $fb[6] $fb[7]
/* i.s-global.s-fb_970 */
$fb_970 = 666px 320px -666px -320px 64px 64px 788px 632px 'sprite/png-sprite.png' 'fb_970';
.s-fb_970
  background-position $fb_970[2] $fb_970[3]
  width $fb_970[4]
  height $fb_970[5]
  +retina()
    background-size $fb_970[6] $fb_970[7]
/* i.s-global.s-furn_ico_1_a */
$furn_ico_1_a = 0px 456px 0px -456px 246px 48px 788px 632px 'sprite/png-sprite.png' 'furn-ico-1-a';
.s-furn_ico_1_a
  background-position $furn_ico_1_a[2] $furn_ico_1_a[3]
  width $furn_ico_1_a[4]
  height $furn_ico_1_a[5]
  +retina()
    background-size $furn_ico_1_a[6] $furn_ico_1_a[7]
/* i.s-global.s-furn_ico_1 */
$furn_ico_1 = 246px 456px -246px -456px 246px 48px 788px 632px 'sprite/png-sprite.png' 'furn-ico-1';
.s-furn_ico_1
  background-position $furn_ico_1[2] $furn_ico_1[3]
  width $furn_ico_1[4]
  height $furn_ico_1[5]
  +retina()
    background-size $furn_ico_1[6] $furn_ico_1[7]
/* i.s-global.s-furn_ico_2_a */
$furn_ico_2_a = 246px 408px -246px -408px 246px 48px 788px 632px 'sprite/png-sprite.png' 'furn-ico-2-a';
.s-furn_ico_2_a
  background-position $furn_ico_2_a[2] $furn_ico_2_a[3]
  width $furn_ico_2_a[4]
  height $furn_ico_2_a[5]
  +retina()
    background-size $furn_ico_2_a[6] $furn_ico_2_a[7]
/* i.s-global.s-furn_ico_2 */
$furn_ico_2 = 0px 408px 0px -408px 246px 48px 788px 632px 'sprite/png-sprite.png' 'furn-ico-2';
.s-furn_ico_2
  background-position $furn_ico_2[2] $furn_ico_2[3]
  width $furn_ico_2[4]
  height $furn_ico_2[5]
  +retina()
    background-size $furn_ico_2[6] $furn_ico_2[7]
/* i.s-global.s-furn_ico_3_a */
$furn_ico_3_a = 246px 360px -246px -360px 246px 48px 788px 632px 'sprite/png-sprite.png' 'furn-ico-3-a';
.s-furn_ico_3_a
  background-position $furn_ico_3_a[2] $furn_ico_3_a[3]
  width $furn_ico_3_a[4]
  height $furn_ico_3_a[5]
  +retina()
    background-size $furn_ico_3_a[6] $furn_ico_3_a[7]
/* i.s-global.s-furn_ico_3 */
$furn_ico_3 = 0px 360px 0px -360px 246px 48px 788px 632px 'sprite/png-sprite.png' 'furn-ico-3';
.s-furn_ico_3
  background-position $furn_ico_3[2] $furn_ico_3[3]
  width $furn_ico_3[4]
  height $furn_ico_3[5]
  +retina()
    background-size $furn_ico_3[6] $furn_ico_3[7]
/* i.s-global.s-geo */
$geo = 666px 576px -666px -576px 32px 32px 788px 632px 'sprite/png-sprite.png' 'geo';
.s-geo
  background-position $geo[2] $geo[3]
  width $geo[4]
  height $geo[5]
  +retina()
    background-size $geo[6] $geo[7]
/* i.s-global.s-help */
$help = 730px 544px -730px -544px 32px 32px 788px 632px 'sprite/png-sprite.png' 'help';
.s-help
  background-position $help[2] $help[3]
  width $help[4]
  height $help[5]
  +retina()
    background-size $help[6] $help[7]
/* i.s-global.s-i_phone */
$i_phone = 572px 92px -572px -92px 92px 92px 788px 632px 'sprite/png-sprite.png' 'i-phone';
.s-i_phone
  background-position $i_phone[2] $i_phone[3]
  width $i_phone[4]
  height $i_phone[5]
  +retina()
    background-size $i_phone[6] $i_phone[7]
/* i.s-global.s-i_shest */
$i_shest = 572px 0px -572px 0px 94px 92px 788px 632px 'sprite/png-sprite.png' 'i-shest';
.s-i_shest
  background-position $i_shest[2] $i_shest[3]
  width $i_shest[4]
  height $i_shest[5]
  +retina()
    background-size $i_shest[6] $i_shest[7]
/* i.s-global.s-i_success */
$i_success = 572px 184px -572px -184px 92px 92px 788px 632px 'sprite/png-sprite.png' 'i-success';
.s-i_success
  background-position $i_success[2] $i_success[3]
  width $i_success[4]
  height $i_success[5]
  +retina()
    background-size $i_success[6] $i_success[7]
/* i.s-global.s-img01 */
$img01 = 0px 0px 0px 0px 272px 210px 788px 632px 'sprite/png-sprite.png' 'img01';
.s-img01
  background-position $img01[2] $img01[3]
  width $img01[4]
  height $img01[5]
  +retina()
    background-size $img01[6] $img01[7]
/* i.s-global.s-img02 */
$img02 = 130px 568px -130px -568px 165px 48px 788px 632px 'sprite/png-sprite.png' 'img02';
.s-img02
  background-position $img02[2] $img02[3]
  width $img02[4]
  height $img02[5]
  +retina()
    background-size $img02[6] $img02[7]
/* i.s-global.s-inst */
$inst = 666px 64px -666px -64px 64px 64px 788px 632px 'sprite/png-sprite.png' 'inst';
.s-inst
  background-position $inst[2] $inst[3]
  width $inst[4]
  height $inst[5]
  +retina()
    background-size $inst[6] $inst[7]
/* i.s-global.s-inst_970 */
$inst_970 = 666px 448px -666px -448px 64px 64px 788px 632px 'sprite/png-sprite.png' 'inst_970';
.s-inst_970
  background-position $inst_970[2] $inst_970[3]
  width $inst_970[4]
  height $inst_970[5]
  +retina()
    background-size $inst_970[6] $inst_970[7]
/* i.s-global.s-line_end_970 */
$line_end_970 = 666px 0px -666px 0px 122px 64px 788px 632px 'sprite/png-sprite.png' 'line_end_970';
.s-line_end_970
  background-position $line_end_970[2] $line_end_970[3]
  width $line_end_970[4]
  height $line_end_970[5]
  +retina()
    background-size $line_end_970[6] $line_end_970[7]
/* i.s-global.s-line_mid_970 */
$line_mid_970 = 0px 568px 0px -568px 130px 64px 788px 632px 'sprite/png-sprite.png' 'line_mid_970';
.s-line_mid_970
  background-position $line_mid_970[2] $line_mid_970[3]
  width $line_mid_970[4]
  height $line_mid_970[5]
  +retina()
    background-size $line_mid_970[6] $line_mid_970[7]
/* i.s-global.s-line_start_970 */
$line_start_970 = 450px 504px -450px -504px 122px 64px 788px 632px 'sprite/png-sprite.png' 'line_start_970';
.s-line_start_970
  background-position $line_start_970[2] $line_start_970[3]
  width $line_start_970[4]
  height $line_start_970[5]
  +retina()
    background-size $line_start_970[6] $line_start_970[7]
/* i.s-global.s-logo1 */
$logo1 = 730px 64px -730px -64px 47px 40px 788px 632px 'sprite/png-sprite.png' 'logo1';
.s-logo1
  background-position $logo1[2] $logo1[3]
  width $logo1[4]
  height $logo1[5]
  +retina()
    background-size $logo1[6] $logo1[7]
/* i.s-global.s-love */
$love = 730px 576px -730px -576px 32px 32px 788px 632px 'sprite/png-sprite.png' 'love';
.s-love
  background-position $love[2] $love[3]
  width $love[4]
  height $love[5]
  +retina()
    background-size $love[6] $love[7]
/* i.s-global.s-money */
$money = 730px 480px -730px -480px 32px 32px 788px 632px 'sprite/png-sprite.png' 'money';
.s-money
  background-position $money[2] $money[3]
  width $money[4]
  height $money[5]
  +retina()
    background-size $money[6] $money[7]
/* i.s-global.s-next */
$next = 572px 276px -572px -276px 64px 64px 788px 632px 'sprite/png-sprite.png' 'next';
.s-next
  background-position $next[2] $next[3]
  width $next[4]
  height $next[5]
  +retina()
    background-size $next[6] $next[7]
/* i.s-global.s-otziv1 */
$otziv1 = 422px 150px -422px -150px 96px 96px 788px 632px 'sprite/png-sprite.png' 'otziv1';
.s-otziv1
  background-position $otziv1[2] $otziv1[3]
  width $otziv1[4]
  height $otziv1[5]
  +retina()
    background-size $otziv1[6] $otziv1[7]
/* i.s-global.s-otziv2 */
$otziv2 = 300px 210px -300px -210px 96px 96px 788px 632px 'sprite/png-sprite.png' 'otziv2';
.s-otziv2
  background-position $otziv2[2] $otziv2[3]
  width $otziv2[4]
  height $otziv2[5]
  +retina()
    background-size $otziv2[6] $otziv2[7]
/* i.s-global.s-otziv3 */
$otziv3 = 422px 246px -422px -246px 96px 96px 788px 632px 'sprite/png-sprite.png' 'otziv3';
.s-otziv3
  background-position $otziv3[2] $otziv3[3]
  width $otziv3[4]
  height $otziv3[5]
  +retina()
    background-size $otziv3[6] $otziv3[7]
/* i.s-global.s-prev */
$prev = 666px 512px -666px -512px 64px 64px 788px 632px 'sprite/png-sprite.png' 'prev';
.s-prev
  background-position $prev[2] $prev[3]
  width $prev[4]
  height $prev[5]
  +retina()
    background-size $prev[6] $prev[7]
/* i.s-global.s-ql */
$ql = 572px 404px -572px -404px 32px 27px 788px 632px 'sprite/png-sprite.png' 'ql';
.s-ql
  background-position $ql[2] $ql[3]
  width $ql[4]
  height $ql[5]
  +retina()
    background-size $ql[6] $ql[7]
/* i.s-global.s-qr */
$qr = 604px 404px -604px -404px 32px 27px 788px 632px 'sprite/png-sprite.png' 'qr';
.s-qr
  background-position $qr[2] $qr[3]
  width $qr[4]
  height $qr[5]
  +retina()
    background-size $qr[6] $qr[7]
/* i.s-global.s-soc_01 */
$soc_01 = 176px 504px -176px -504px 137px 64px 788px 632px 'sprite/png-sprite.png' 'soc_01';
.s-soc_01
  background-position $soc_01[2] $soc_01[3]
  width $soc_01[4]
  height $soc_01[5]
  +retina()
    background-size $soc_01[6] $soc_01[7]
/* i.s-global.s-soc_02 */
$soc_02 = 730px 192px -730px -192px 42px 42px 788px 632px 'sprite/png-sprite.png' 'soc_02';
.s-soc_02
  background-position $soc_02[2] $soc_02[3]
  width $soc_02[4]
  height $soc_02[5]
  +retina()
    background-size $soc_02[6] $soc_02[7]
/* i.s-global.s-soc_03 */
$soc_03 = 0px 504px 0px -504px 176px 64px 788px 632px 'sprite/png-sprite.png' 'soc_03';
.s-soc_03
  background-position $soc_03[2] $soc_03[3]
  width $soc_03[4]
  height $soc_03[5]
  +retina()
    background-size $soc_03[6] $soc_03[7]
/* i.s-global.s-soc_04 */
$soc_04 = 730px 256px -730px -256px 42px 42px 788px 632px 'sprite/png-sprite.png' 'soc_04';
.s-soc_04
  background-position $soc_04[2] $soc_04[3]
  width $soc_04[4]
  height $soc_04[5]
  +retina()
    background-size $soc_04[6] $soc_04[7]
/* i.s-global.s-soc_06 */
$soc_06 = 730px 128px -730px -128px 42px 42px 788px 632px 'sprite/png-sprite.png' 'soc_06';
.s-soc_06
  background-position $soc_06[2] $soc_06[3]
  width $soc_06[4]
  height $soc_06[5]
  +retina()
    background-size $soc_06[6] $soc_06[7]
/* i.s-global.s-soc_08 */
$soc_08 = 730px 320px -730px -320px 42px 42px 788px 632px 'sprite/png-sprite.png' 'soc_08';
.s-soc_08
  background-position $soc_08[2] $soc_08[3]
  width $soc_08[4]
  height $soc_08[5]
  +retina()
    background-size $soc_08[6] $soc_08[7]
/* i.s-global.s-soc_09 */
$soc_09 = 313px 504px -313px -504px 137px 64px 788px 632px 'sprite/png-sprite.png' 'soc_09';
.s-soc_09
  background-position $soc_09[2] $soc_09[3]
  width $soc_09[4]
  height $soc_09[5]
  +retina()
    background-size $soc_09[6] $soc_09[7]
/* i.s-global.s-timer */
$timer = 698px 576px -698px -576px 32px 32px 788px 632px 'sprite/png-sprite.png' 'timer';
.s-timer
  background-position $timer[2] $timer[3]
  width $timer[4]
  height $timer[5]
  +retina()
    background-size $timer[6] $timer[7]
/* i.s-global.s-twi */
$twi = 666px 384px -666px -384px 64px 64px 788px 632px 'sprite/png-sprite.png' 'twi';
.s-twi
  background-position $twi[2] $twi[3]
  width $twi[4]
  height $twi[5]
  +retina()
    background-size $twi[6] $twi[7]
/* i.s-global.s-twi_970 */
$twi_970 = 666px 256px -666px -256px 64px 64px 788px 632px 'sprite/png-sprite.png' 'twi_970';
.s-twi_970
  background-position $twi_970[2] $twi_970[3]
  width $twi_970[4]
  height $twi_970[5]
  +retina()
    background-size $twi_970[6] $twi_970[7]
/* i.s-global.s-ui */
$ui = 730px 448px -730px -448px 32px 32px 788px 632px 'sprite/png-sprite.png' 'ui';
.s-ui
  background-position $ui[2] $ui[3]
  width $ui[4]
  height $ui[5]
  +retina()
    background-size $ui[6] $ui[7]
/* i.s-global.s-vk */
$vk = 666px 192px -666px -192px 64px 64px 788px 632px 'sprite/png-sprite.png' 'vk';
.s-vk
  background-position $vk[2] $vk[3]
  width $vk[4]
  height $vk[5]
  +retina()
    background-size $vk[6] $vk[7]
/* i.s-global.s-vk_970 */
$vk_970 = 666px 128px -666px -128px 64px 64px 788px 632px 'sprite/png-sprite.png' 'vk_970';
.s-vk_970
  background-position $vk_970[2] $vk_970[3]
  width $vk_970[4]
  height $vk_970[5]
  +retina()
    background-size $vk_970[6] $vk_970[7]

$spritesheet_width = 788px;
$spritesheet_height = 632px;
$spritesheet_image = 'sprite/png-sprite.png';
$spritesheet_sprites = $1_4 $3_4 $3 $4_4 $arr1 $close $cup $driver $fast $fb $fb_970 $furn_ico_1_a $furn_ico_1 $furn_ico_2_a $furn_ico_2 $furn_ico_3_a $furn_ico_3 $geo $help $i_phone $i_shest $i_success $img01 $img02 $inst $inst_970 $line_end_970 $line_mid_970 $line_start_970 $logo1 $love $money $next $otziv1 $otziv2 $otziv3 $prev $ql $qr $soc_01 $soc_02 $soc_03 $soc_04 $soc_06 $soc_08 $soc_09 $timer $twi $twi_970 $ui $vk $vk_970;
$spritesheet = 788px 632px 'sprite/png-sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
